@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


img {
  page-break-inside: avoid;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

