<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Offline & Analog" %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="leading-relaxed font-mono my-8 container mx-auto max-w-xl print:max-w-full print:my-0">
    <% unless current_page.data.notitle %>
      <h1 class="font-black uppercase font-mono color-gray-900 text-3xl">
        Offline
      </h1>
      <nav class="my-8 text-sm">
        <li><a class="underline mx-2" href="/">By year</a></li>
        <li><a class="underline mx-2" href="/cameras">By camera</a></li>
        <li><a class="underline mx-2" href="/films">By film</a></li>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
