<% films.sort_by { |a| - a.rolls.count }.each do |film| %>
  <h2 class="my-4 font-black font-mono text-lg"><%= film.to_s %></h2>
  <ul class="mb-8">
 <% film.rolls.sort_by(&:roll_number).reverse.each do |roll| %>
   <li class=""><a class="underline" href="/<%=roll.roll_number %>"><%=roll.roll_number %></a> → <span class="text-xs"><%= roll.camera %></span></li>
 <% end %>
  </ul>
<% end %>
